<main class="content px-3 py-4">
    <div class="container-fluid">
        <div class="mb-3">
            <!-- Tab items -->
            <div class="d-flex justify-content-between">
                <ul class="nav nav-tabs mb-3" id="food" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a
                        data-mdb-tab-init class="nav-link" id="1"  href=""
                        role="tab" aria-controls="food-tabs-1" aria-selected="true">Món khai vị</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                        data-mdb-tab-init class="nav-link " id="2" href=""
                        role="tab" aria-controls="food-tabs-2"aria-selected="true">Món chính</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                        data-mdb-tab-init class="nav-link "id="3" href=""
                        role="tab" aria-controls="food-tabs-3"aria-selected="true">Món tráng miệng</a>
                    </li>
                    
                </ul>
                <div class="d-flex flex-row" style="height:35px;">
                    <div class="input-group mr-4 " >
                        <div class="form-outline" data-mdb-input-init>
                            <input type="search" id="form1" class="form-control" />
                            <label class="form-label" for="form1">Search</label>
                        </div>
                        <button type="button" class="btn btn-primary" data-mdb-ripple-init >
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm d-flex align-items-center"
                        data-toggle="modal" data-target="#menuModal" data-whatever="@mdo" style="width:150px">
                        <i class="lni lni-plus mr-2"></i>
                        Thêm mới
                    </button>
                </div>
            </div>
            {{#if (isHasData listMenuByGroup)}}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Tên món</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Thành phần</th>
                        <th scope="col">Giá tiền</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                    <tbody>
                        {{#each listMenuByGroup}}
                            <tr>
                                <th scope="row">{{this.id}}</th>
                                <td>{{this.name}}</td>
                                <td>
                                    {{#if this.image_url}}
                                    <div class="d-inline-flex position-relative">
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
                                            {{imgQuantity this.image_url}}
                                            <span class="visually-hidden">New alerts</span>
                                        </span>
                                        <img src="{{imgRepresent this.image_url}}" class="rounded-4 shadow-4" style="width: 50px; height: 50px;"/>
                                    </div>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#each this.ingredient}}
                                        {{this}}, 
                                    {{/each}}
                                </td>
                                <td>{{this.price}}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm mb-2" 
                                       >
                                        <i class="lni lni-check-box"></i>
                                        Cập nhật
                                    </button>
                                    <br/>
                                    <button type="button" class="btn btn-danger btn-sm ">
                                        <i class="lni lni-lock-alt"></i>
                                        Ngừng bán
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm ">
                                        <i class="lni lni-trash-can"></i>
                                        Xóa
                                    </button>
                                    
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{#if (isMultiplePage pageQuantity)}}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination d-flex justify-content-center">
                            {{!-- {{pageQuantityRendering}} --}}
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{#each (pageQuantityRendering pageQuantity)}}
                                <li class="page-item"><a class="page-link" href="" aria-label="{{this}}">{{this}}</a></li>
                            {{/each}}
                            <li class="page-item">
                            <a class="page-link" href="#" aria-label="next" >
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        </ul>
                    </nav>
                {{/if}}
                {{else}}
                    <p class="text-center" style="width:100%">Không có dữ liệu
                    </p>
                {{/if}}
        </div>
    </div>
</main>


<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="menuModalLabel">Thêm mới thực đơn</h5>
                <button type="button" class="btn-close d-flex justify-content-center align-items-center border-none" data-dismiss="modal" aria-label="Close">
                    <i class="lni lni-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <form class="layout-modal" method="POST" action="new" id="add_menu-form" enctype="multipart/form-data">

                        <div class="layout-modal_item d-flex justify-content-between position-relative">
                           <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                            <div class="img-area d-flex  justify-content-start">
                                <p class="text-center" style="color:#777">
                                    <span style="font-size: 50px;color:#111" class="mb-2">
                                        <i class="lni lni-cloud-upload fs-20"></i>
                                    </span>
                                    Không có hình ảnh đính kèm
                                </p>

                            </div>
                             <button type="button" class="btn btn-secondary fs-12">
                                <input type="file" id="imgPath" name="imgPath" class="d-none" accept="image/png, image/jpeg" multiple 
                                enctype='multipart/form-data' required/>
                                <label id="file-input-label" for="imgPath" class="mb-0">
                                    Thêm hình ảnh
                                </label>
                             </button>
                        </div>

                        <div class="layout-modal_item">
                            <span class="modal-item_header">Tên thực đơn</span>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập tên thực đơn" name="menu_name" required>
                            </div>
                        </div>

                        <div class="layout-modal_item">
                             <span class="modal-item_header">Nhóm thực đơn</span>
                            <select class="custom-select" name="menu_group" required>
                                <option value="1">Món tráng miệng</option>
                                <option value="2">Món chính</option>
                                <option value="3">Món chay</option>
                            </select>
                        </div>
                        <div class="layout-modal_item">
                             <span class="modal-item_header">Giá tiền</span>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Nhập giá tiền" name="menu_price" required>
                            </div>
                        </div>
                      
                       
                        <div class="layout-modal_item">
                           <span class="modal-item_header">Nguyên liệu</span>
                            <select class="selectpicker show-tick" data-live-search="true" multiple title="Tìm nguyên liệu"
                                data-width="100%" data-actions-box="true" data-selected-text-format="count > 2" id="ingredient" name="ingredient">
                                {{#each listIngredient}}
                                    <option data-tokens="{{this.id}}" value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            
                        </div>

                          <div class="layout-modal_item">
                             <span class="modal-item_header">Mô tả thực đơn</span>
                            <div class="input-group">
                                {{!-- <input type="text" class="form-control" placeholder="Nhập mô tả" > --}}
                                 <textarea class="form-control" id="validationTextarea" placeholder="Nhập mô tả cho thực đơn" required name="menu_desc"></textarea>
                            </div>
                        </div>
                      
                    </form>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" id="submit-btn">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="food-group" id="form-submit">
    <input name="id" hidden id="id-input"/>
    <input type="text" name="page" hidden id="page-input"/>
</form>


<script src="/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function()
    {
        //#region HANDLE SHOW MODAL
        $('#menuModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever') 
        })
        $('#menuModal').on('hide.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.modal-body input').val('');
            $('.custom-select option:selected').prop('selected', false);
        })
        $('#imgPath').change(function(e){
            for(var file of e.target.files)
            {
                 var imageURL = URL.createObjectURL(file);
                 $('.img-area').append
                 (
                    `<div class='img-wrapper'>
                        <img src='${imageURL}'/>
                        <span>&times;</span>
                    <div>
                    `
                );
            }
              $('.img-wrapper span').click(function(e){
                    const parentElm = e.target.parentElement;
                    parentElm.remove();
                    if($('.img-area').children('.img-wrapper').length === 0)
                        $('.img-area p').show();
                 })
            $('.img-area p').hide();
        })
        //#endregion
        //MULTIPLE SELECT 
        var currentValueSelect = [];                  
        $('#ingredient').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            if(e.target.options[clickedIndex].selected)
            {
                if(!isSelected)
                    currentValue.push(e.target.options[clickedIndex].value);
            }
        });
        $('#submit-btn').on('click', function(){
            $('#add_menu-form').submit();
        })
        $('#food .nav-link').click(function(e){
            e.preventDefault();
            $('#form-submit #id-input').val($(this).attr('id'))
            $('#form-submit #page-input').val(1)
            $('#form-submit').submit();
        })
        $('.pagination .page-link').click(function(e){
            e.preventDefault();
            $('#form-submit #page-input').val();
            var queryParams = new URLSearchParams(window.location.search);
            var page =  $(this).attr('aria-label');
            if($(this).attr('aria-label') == 'previous')
            {
                page = queryParams.get('page') -1 > 0 ? queryParams.get('page') -1 : 1;
            }
            else if($(this).attr('aria-label') == 'next')
            {
                page = queryParams.get('page') +1 <=  $('.pagination .page-link').length ? queryParams.get('page') +1  : queryParams.get('page');
            }
            $('#form-submit #id-input').val(queryParams.get('id'))
            $('#form-submit #page-input').val(page)
            {{!-- queryParams.set("page", page); --}}
            {{!-- history.replaceState(null, null, "?"+queryParams.toString()); --}}
            $('#form-submit').submit();
        })
        
        
    })
</script>

