<main class="content px-3 py-4">
  <div class="container-fluid">
    <div class="mb-3">
      <h3 class="fw-bold fs-4 mb-3 mt-3">Kết quả bán hàng hôm nay</h3>
     
      <div class="row mb-4">
        <div class="col-12 col-md-4">
          <div class="card border-0">
            <div class="card-body py-4"  style="background-color:#A9A9A9;color:#fff;border-radius:10px;">
              <h5 class="mb-2 fw-bold">
                {{numOfOrderCompleted}} Đơn đã xong
              </h5>
             
              <div class="mb-0">
                 <span class="fw-bold mr-3">
                      {{formatMoney totalMoneyToday}} 
                  <i class="fa-solid fa-money-bill-wav"></i>
                </span>
                <br/>
                {{#if (isHasRevenue numOfOrderCompleted)}}
                    <span class="font-weight-bold ">
                    Doanh thu tăng trưởng 
                  </span>
                  <span class="badge text-success" style="font-size:17px;">
                    {{growthSpeed totalMoneyYesterday totalMoneyToday}}%
                  </span>
                  <span class="fw-bold">
                    so với hôm qua
                  </span>
                  {{else}}
                      <span class="font-weight-bold">Chưa có doanh thu</span>
                {{/if}}
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card border-0">
            <div class="card-body py-4" style="background-color:#E9967A;color:#fff;border-radius:10px;">
              <h5 class="mb-2 fw-bold">
                Đơn đang phục vụ
              </h5>
             
              <div class="mb-0">
                 <span class="fw-bold mr-3">
                  {{totalServing}}
                 <i class="fa-solid fa-user-pen"></i>
                </span>
                <br/>
                <span class="font-weight-bold">Số tiền dự tính</span>
                 <span class="fw-bold mr-3 text-success">
                  {{formatMoney totalMoneyServed}} 
                  <i class="fa-solid fa-money-bill-wav"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card border-0">
            <div class="card-body py-4" style="background-color:#87CEFA;color:#fff;border-radius:10px;">
              <h5 class="mb-2 fw-bold">
                Khách hàng
              </h5>
              <div class="mb-0">
                <span class="fw-bold mr-3 d-flex align-items-center">
                  {{totalClientToday}}
                  <i class="lni lni-user ml-2"></i>
                </span>
                {{#if (isHasClient totalClientToday)}}
                    <span class="font-weight-bold">Lượng khách hàng tăng trưởng </span>
                    <span class="badge text-success" style="font-size:17px;">
                      {{growthSpeed totalClientYesterday totalClientToday}}%
                    </span>
                    <span class="fw-bold">
                        so với hôm qua
                    </span>
                    {{else}}
                        <span class="font-weight-bold">Chưa có khách hàng mới</span>
                {{/if}}
                
              </div>
            </div>
          </div>
        </div>
      </div>
     

      <div class="row">
        <div class="col-6 col-sm-12 col-xl-6 col-lg-12 col-md-12 d-flex align-items-center mb-4">
          <div style="background-color:#fff;height:100%;width:100%;" class="p-2 rounded">
            <div class="d-flex justify-content-between mt-3">
                <h3 class="fw-bold fs-4 revenue-title">
                  Doanh số hôm nay
                </h3>
                  <select class="custom-select custom-select-sm" id="revenue-select" style="width:20%">
                        <option  value="today" selected>Hôm nay</option>
                        <option value="yesterday">Hôm qua</option>
                        <option value="7">7 ngày qua</option>
                  </select>
            </div>
             
                            <!-- Tabs navs -->
              <ul class="nav nav-tabs mb-3" id="date-filter" role="tablist">
                <li class="nav-item" role="presentation">
                  <a data-mdb-tab-init class="nav-link active" id="date-tab-1" href="#date-tabs-1" role="tab" aria-controls="date-tabs-1" aria-selected="true">
                    Theo ngày 
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a data-mdb-tab-init class="nav-link" id="date-tab-2" href="#date-tabs-2" role="tab" aria-controls="date-tabs-2" aria-selected="false">
                    Theo giờ
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    data-mdb-tab-init
                    class="nav-link" id="date-tab-3" href="#date-tabs-3" role="tab"aria-controls="date-tabs-3"aria-selected="false">
                    Theo thứ
                    </a>
                </li>
              </ul>
              <!-- Tabs navs -->

              <!-- Tabs content -->
              <div class="tab-content" id="date-content">
                <div class="tab-pane fade show active d-flex flex-column position-relative" id="date-tabs-1" role="tabpanel" aria-labelledby="date-tab-1">
                  
                    <canvas id="revenue-by-date-chart" class="d-none" style=""></canvas>
                    {{!-- <div style="color:#d1d1d1;" 
                    class="no_data-revenue d-flex align-items-center justify-content-center flex-column">
                        <i class="lni lni-dropbox mb-2" style="font-size: 50px;"></i>
                        <span  style="font-size: 20px;">Không có dữ liệu</span>
                    </div> --}}
                
                </div>
                <div class="tab-pane fade " id="date-tabs-2" role="tabpanel" aria-labelledby="date-tab-2">
                    <canvas id="revenue-by-hour-chart" class="d-none"></canvas>
                    {{!-- <div style="color:#d1d1d1;width:100%;height:100%;" class="no_data-revenue d-flex align-items-center justify-content-center flex-column">
                        <i class="lni lni-dropbox mb-2" style="font-size: 50px;"></i>
                        <span  style="font-size: 20px;">Không có dữ liệu</span>
                    </div> --}}
                </div>
                <div class="tab-pane fade " id="date-tabs-3" role="tabpanel" aria-labelledby="date-tab-3">
                    
                      <canvas id="revenue-by-day-chart" class="d-none"></canvas>
                      {{!-- <div style="color:#d1d1d1;width:100%;height:100%;" class="no_data-revenue d-flex align-items-center justify-content-center flex-column ">
                          <i class="lni lni-dropbox mb-2" style="font-size: 50px;"></i>
                          <span  style="font-size: 20px;">Không có dữ liệu</span>
                      </div> --}}
                </div>
              </div>
              <!-- Tabs content -->
            
          </div>
          
        </div>
          <div class="col-6 col-sm-12 col-xl-6 col-lg-12 col-md-12 mb-4">
            <div style="background-color:#fff;height:100%;width:100%;" class="p-2 rounded">
              <div class="d-flex justify-content-between mt-3">
                <h3 class="fw-bold fs-4">Số lượng khách hôm nay</h3>
                  <select class="custom-select custom-select-sm" id="inputGroupSelect03" style="width:20%">
                    <option selected>Hôm nay</option>
                    <option value="1">Hôm qua</option>
                    <option value="2">7 ngày qua</option>
                    <option value="3">Tháng này</option>
                  </select>
              </div>
              <canvas id="myChart" class="d-none"></canvas>
            </div>
          </div>
      </div>

       <div class="row">
          <div class="col-6 col-sm-12 col-xl-6 col-lg-12 col-md-12">
            <div style="background-color:#fff;height:100%;width:100%;" class="p-2 rounded">
              <div class="d-flex justify-content-between mt-3">
                <h3 class="fw-bold fs-4">Top 10 món ăn bán chạy 7 ngày qua</h3>
                  <select class="custom-select custom-select-sm" id="inputGroupSelect03" style="width:20%">
                    <option selected>Hôm nay</option>
                    <option value="1">Hôm qua</option>
                    <option value="2">7 ngày qua</option>
                    <option value="3">Tháng này</option>
                  </select>
              </div>
              <canvas id="myChart3" class="d-none"></canvas>
            </div>
          </div>
      </div>
     
    </div>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script> --}}
{{!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script> --}}
<script >
  var ctx = $('#myChart');
  var revenueByDateCtx = $('#revenue-by-date-chart');
  var ctx3 = $('#myChart3');
  var revenueByHourCtx = $('#revenue-by-hour-chart');
  var revenueByDayCtx = $('#revenue-by-day-chart');

  var totalMoneyToday = {{totalMoneyToday}};
  var totalMoneyByHourToday  = {{{totalMoneyByHourToday}}}

  var totalMoneyYesterday  = {{totalMoneyYesterday}}
  var totalMoneyByHourYesterday = {{{totalMoneyByHourYesterday}}};

  var totalMoney7Day = {{{totalMoney7Day}}};
  var totalMoneyByHour7Day  = {{{totalMoneyByHour7Day}}};

  function moneyFormatter(money)
  {
    if(money > 999&& money < 1000000)
        return (money/1000).toFixed(0) + 'K'; // Chuyển thành M nếu giá trị từ 1000 đến dưới 1 triệu
    else if(money > 1000000)
        return (money/1000000).toFixed(0) + 'M'; // Chuyển thành M nếu giá trị lớn hơn 1 triệu
    else if(money < 900)
        return money; // Trả về đơn vị mặc định nếu giá trị dưới 1000
    
  }

  function dayFormatter(number)
  {
    if(number == 0) return "Chủ nhật";
    else if(number == 1) return "Thứ 2"
    else if(number == 2) return "Thứ 3"
    else if(number == 3) return "Thứ 4"
    else if(number == 4) return "Thứ 5"
    else if(number == 5) return "Thứ 6"
    else if(number == 6) return "Thứ 7"
  }
  function getYesterday(date)
  {
    date.setDate(date.getDate()-1);
    return new Intl.DateTimeFormat("vi-VN").format(date);
  }
  
  if(totalMoneyToday)
  {
   
    revenueByDateCtx.removeClass('d-none');
    revenueByDateCtx.addClass('d-block');

    revenueByHourCtx.removeClass('d-none');
    revenueByHourCtx.addClass('d-block');

    revenueByDayCtx.removeClass('d-none');
    revenueByDayCtx.addClass('d-block');
  }
  
  
  
  new Chart(ctx3, {
    type: 'bar',
    data: {
      labels: [getYesterday(new Date())],
      datasets: [{label: '# of Votes',ata: [12, 19, 3, 5, 2, 3],borderWidth: 1}]
    },
    options: {
      scales: {y: {beginAtZero: true} }
    }
  });
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{label: '# of Votes',data: [12, 19, 3, 5, 2, 3],borderWidth: 1}]
    },
    options: {
      scales: {y: {beginAtZero: true} }
    }
  });

// DOANH SỐ HÔM NAY\
  //INIT CHART
  //THEO NGÀY
 
  var revenueByDateChart = new Chart(revenueByDateCtx, {
    type: 'bar',
    data: {
      labels: [new Date().getDate() + "/" +(new Date().getMonth()+ 1) + "/"  + new Date().getFullYear()],
      datasets: [{label: 'Doanh thu',data: [totalMoneyToday],borderWidth: 1, barThickness: 80 }]
    },
    options: {
      scales: {y: {beginAtZero: true} } 
    }
  });
  //THEO THỨ
  var revenueByDayChart = new Chart(revenueByDayCtx, {
    type: 'bar',
    data: {
      labels: [dayFormatter(new Date().getDay())],
      datasets: [{label: 'Doanh thu',data: [totalMoneyToday],borderWidth: 1, barThickness: 80 }]
    },
    options: {
      scales: {y: { beginAtZero: true} }
    }
  });
  //THEO GIỜ
    
    var revenueByHourChart = new Chart(revenueByHourCtx, {
    type: 'bar',
    data: {
      labels:totalMoneyByHourToday.map(data=>data.hour + ":00"),
      datasets: [{label:'Doanh thu', data:  totalMoneyByHourToday.map(data=>data.total), borderWidth: 1, barPercentage: 0.5,barThickness:30,minBarLength: 2}]
    }, 
    options: {
      scales: {y: {beginAtZero: true} }
    }
  });
  //HANDLE SELECT REVENUE
  $("#revenue-select").on('change', function(){
    $("#revenue-select option:selected").each(function(){
      
      //REVENUE TODAY
      if($(this).val() == 'today')
      {
        $('.revenue-title').text("Doanh số hôm nay"); 
        if(totalMoneyToday)
        {
          revenueByDateCtx.removeClass('d-none');
            revenueByDateCtx.addClass('d-block');

            revenueByHourCtx.removeClass('d-none');
            revenueByHourCtx.addClass('d-block');

            revenueByDayCtx.removeClass('d-none');
            revenueByDayCtx.addClass('d-block');
          //THEO NGÀY
          revenueByDateChart.data.labels = [];
          revenueByDateChart.data.datasets.forEach((dataset) => {
              dataset.data = [];
          });
          revenueByDateChart.data.labels.push(new Date().getDate() + "/" + (new Date().getMonth() +1) + "/" + new Date().getFullYear());
          revenueByDateChart.data.datasets.forEach(dataset=>{
            dataset.data.push(totalMoneyToday);
          })
          revenueByDateChart.update();
          //THEO GIỜ 
          revenueByHourChart.data.labels = [];
          revenueByHourChart.data.datasets.forEach((dataset) => {
              dataset.data = [];
          });
          
            totalMoneyByHourToday.forEach(obj=>{
                revenueByHourChart.data.labels.push(obj.hour + ":00");
            })
            revenueByHourChart.data.datasets.forEach(dataset=>{
              dataset.data = totalMoneyByHourToday.map((data)=>data.total)
            })
            revenueByHourChart.update()
            //THEO THỨ
            revenueByDayChart.data.labels = [];
            revenueByDayChart.data.datasets.forEach((dataset) => {
                dataset.data = [];
            });
            revenueByDayChart.data.labels.push(dayFormatter(new Date().getDay()));
            revenueByDayChart.data.datasets.forEach(dataset=>{
              dataset.data.push(totalMoneyToday);
            })
            revenueByDayChart.update();
        }
        else 
        {
            revenueByDateCtx.addClass('d-none');
            revenueByDateCtx.removeClass('d-block');

            revenueByHourCtx.removeClass('d-none');
            revenueByHourCtx.addClass('d-block');

            revenueByDayCtx.removeClass('d-none');
            revenueByDayCtx.addClass('d-block');
        }
        
      }
      //REVENUE YESTERDAY
      else if($(this).val() == 'yesterday')
      {
        $('.revenue-title').text("Doanh số hôm qua")
        if(totalMoneyYesterday)
        {
          //THEO NGÀY
            revenueByDateCtx.removeClass('d-none');
            revenueByDateCtx.addClass('d-block');

            revenueByHourCtx.removeClass('d-none');
            revenueByHourCtx.addClass('d-block');

            revenueByDayCtx.removeClass('d-none');
            revenueByDayCtx.addClass('d-block');
            
            revenueByDateChart.data.labels = [];
            revenueByDateChart.data.datasets.forEach((dataset) => {
                dataset.data = [];
            });
            revenueByDateChart.data.labels.push(getYesterday(new Date()));
            revenueByDateChart.data.datasets.forEach(dataset=>{
              dataset.data.push(totalMoneyYesterday);
            })
            revenueByDateChart.update();
          //THEO GIỜ 
            revenueByHourChart.data.labels = [];
            revenueByHourChart.data.datasets.forEach((dataset) => {
                dataset.data = [];
            });
          
            totalMoneyByHourYesterday.forEach(obj=>{
                revenueByHourChart.data.labels.push(obj.hour + ":00");
            })
            revenueByHourChart.data.datasets.forEach(dataset=>{
              dataset.data = totalMoneyByHourYesterday.map((data)=>data.total)
            })
            revenueByHourChart.update()
            //THEO THỨ
            revenueByDayChart.data.labels = [];
            revenueByDayChart.data.datasets.forEach((dataset) => {
                dataset.data = [];
            });
            revenueByDayChart.data.labels.push(dayFormatter((new Date().getDay() -1) >=0 ? (new Date().getDay() -1) : 6));
            revenueByDayChart.data.datasets.forEach(dataset=>{
              dataset.data.push(totalMoneyYesterday);
            })
            revenueByDayChart.update();
        }
        else 
        {
            revenueByDateCtx.addClass('d-none');
            revenueByDateCtx.removeClass('d-block');

            revenueByHourCtx.removeClass('d-none');
            revenueByHourCtx.addClass('d-block');

            revenueByDayCtx.removeClass('d-none');
            revenueByDayCtx.addClass('d-block');
        }
      }
      //REVENUE 7 DAYS
      else if($(this).val() == '7')
      {
        $('.revenue-title').text("Doanh số 7 ngày qua")
        
        if(totalMoney7Day)
        {
            revenueByDateCtx.removeClass('d-none');
            revenueByDateCtx.addClass('d-block');

            revenueByHourCtx.removeClass('d-none');
            revenueByHourCtx.addClass('d-block');

            revenueByDayCtx.removeClass('d-none');
            revenueByDayCtx.addClass('d-block');

            //DOANH SỐ THEO NGÀY
            revenueByDateChart.data.labels = [];
            revenueByDateChart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
            });
            totalMoney7Day.forEach(obj=>{
              revenueByDateChart.data.labels.push(new Date(obj.date).getDate()+ "/" + (new Date(obj.date).getMonth() +1)  + '/' + new Date(obj.date).getFullYear()) ;
            })
            revenueByDateChart.data.datasets.forEach(dataset=>{
              dataset.data = totalMoney7Day.map((data)=>data.total)
            })
            revenueByDateChart.update();
            //DOANH SỐ THEO GIỜ
            
              revenueByHourChart.data.labels = [];
              revenueByHourChart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
              });
              totalMoneyByHour7Day.forEach(obj=>{
                revenueByHourChart.data.labels.push(obj.hour + ":00");
              })
              revenueByHourChart.data.datasets.forEach(dataset=>{
                dataset.data = totalMoneyByHour7Day.map((data)=>data.total)
              })
              revenueByHourChart.update();
              //DOANH SỐ THEO THỨ
             
              revenueByDayChart.data.labels = [];
              revenueByDayChart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
              });
              totalMoney7Day.forEach(obj=>{
                revenueByDayChart.data.labels.push(dayFormatter(new Date(obj.date).getDay()));
              })
              revenueByDayChart.data.datasets.forEach(dataset=>{
                dataset.data = totalMoney7Day.map((data)=>data.total)
              })
              revenueByDayChart.update();
        }
        else 
        {
            revenueByDateCtx.addClass('d-none');
            revenueByDateCtx.removeClass('d-block');

            revenueByHourCtx.addClass('d-none');
            revenueByHourCtx.removeClass('d-block');

            revenueByDayCtx.addClass('d-none');
            revenueByDayCtx.removeClass('d-block');
        }
        
      }
    })
  })
  //HANDLE SELECT CLIENT QUANTITY 
  
</script>