<main class="content px-3 py-4" style="height:680px">
    <div class="container-fluid">
        <div class="mb-3" id="menu-content">
            <!-- Tab items -->
            <div class="d-flex justify-content-between mb-3">
               
                <div class="d-flex flex-row justify-content-end position-relative" style="height:35px; width:100%;">
                    <div class="input-group mr-4 position-absolute"  style="width:350px; left:50%; transform:translateX(-50%)">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="search" name="search" class="form-control" />
                            <label class="form-label" for="form1">Tìm kiếm</label>
                        </div>
                        <button type="button" class="btn btn-primary" data-mdb-ripple-init id="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm d-flex align-items-center"
                        data-toggle="modal" data-target="#menuModal" data-whatever="@mdo" style="width:130px">
                        <i class="lni lni-plus mr-2"></i>
                        Cấp tài khoản
                    </button>
                </div>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Tuổi</th>
                        <th scope="col">Email</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                    <tbody>
                        {{#each listEmployee}}
                            <tr>
                                <td>{{this.full_name}}</td>
                                <td>
                                    {{genderConvert this.gender}}
                                </td>
                                <td>
                                    23
                                </td>
                                <td>{{this.email}}</td>
                                <td>{{this.phone_number}}</td>
                                <td>
                                    {{#if (isRoomTableActive this.status)}}
                                        <span class="badge badge-success rounded-pill d-inline">Đang làm việc</span>
                                    {{else}}
                                        <span class="badge badge-light rounded-pill d-inline">Đã nghỉ</span>
                                    {{/if}}
                                    
                                </td>
                                <td style="min-width: 200px;">
                                     {{#if (isRoomTableActive this.status)}}
                                        <button type="button" class="btn btn-danger btn-sm " id="disactive-btn"
                                        data-mdb-target="#exampleModal" data-mdb-ripple-init data-mdb-modal-init data-mdb-whatever='{{jsonFormatter this}}' data-mdb-status="0">
                                        <i class="lni lni-lock-alt"></i>
                                        Đã nghỉ
                                        </button>
                                    {{else}}
                                       <button type="button" class="btn btn-primary btn-sm " id="active-btn" 
                                       data-mdb-target="#exampleModal" data-mdb-ripple-init data-mdb-modal-init data-mdb-whatever='{{jsonFormatter this}}' data-mdb-status="1">
                                        <i class="lni lni-lock-alt"></i>
                                        Đang làm việc
                                        </button>
                                    {{/if}}
                                        
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
            </table>
               
               
        </div>
    </div>
</main>


<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="menuModalLabel">Cấp tài khoản</h5>
                <button type="button" class="btn-close d-flex justify-content-center align-items-center border-none" data-mdb-dismiss="modal" aria-label="Close">
                    <i class="lni lni-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-group" method="POST" action="new" id="add_account-form" >
                        <div class="form-group_item">
                            <span class="modal-item_header">Họ và tên</span>
                            <div class="input-group position-relative">
                                <input type="text" class="form-control" placeholder="Nhập họ và tên" name="full_name" required>
                            </div>
                        </div>

                        <div class="form-group_item d-flex flex-row justify-content-between">
                            <div style="width:50%;margin-right:5px;">
                                <span class="modal-item_header">Giới tính</span>
                                <div class=" position-relative" style="width:100%;">
                                    <select class="custom-select" name="gender" required id="gender-select">
                                        <option value="0">Nam</option>
                                        <option value="1">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div style="width:50%; margin-left:5px" >
                                <span class="modal-item_header">Tuổi</span>
                                <div class="input-group position-relative">
                                    <input type="number" class="form-control" placeholder="Nhập tuổi" name="age" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group_item">
                             <span class="modal-item_header">Email</span>
                            <div class="input-group position-relative">
                                <input type="text" class="form-control" placeholder="Nhập email" name="email" required>
                            </div>
                        </div>
                      
                        <div class="form-group_item">
                             <span class="modal-item_header">Số điện thoại</span>
                            <div class="input-group position-relative">
                                <input type="number" class="form-control" placeholder="Nhập số điện thoại" name="phone_number" required>
                            </div>
                        </div>
                        <div class="form-group_item">
                             <span class="modal-item_header">Mật khẩu</span>
                            <div class="input-group position-relative">
                                <input type="text" class="form-control" placeholder="Nhập mật khẩu" name="password" required value="123456@" readonly>
                            </div>
                        </div>
                      
                    </form>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" id="submit-new_account">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhập trạng nhân viên</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="font-size: 14px;"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-mdb-ripple-init id="submit-status">Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>



<form action="" id="form-submit">
    <input name="id" hidden id="id-input" value="2"/>
    <input type="text" name="page" hidden id="page-input" value="1"/>
</form>
<form action="" id="update-status-food-form">
    <input type="number" name="user_id" hidden>
    <input type="number" name="status" hidden>
</form>

<form action="" id="delete-food_form">
    <input type="number" name="menu_id" hidden>
</form>

<form action="" id="bin-form">
    <input type="number" name="menu_type" hidden>
</form>
<form action="" id="bin-action_form">
    <input type="number" name="menu_id" hidden>
</form>
<script src="/jquery/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
        }
    $(document).ready(function()
    {
        //#region HANDLE SHOW MODAL
        $('#menuModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever') 
        })
        $('#menuModal').on('hide.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.modal-body input').val('');
            $('.custom-select option:selected').prop('selected', false);
        })
        
        //#endregion
        $('#add_account-form').submit(function(e){
            e.preventDefault();
              var formData = $(this).serialize();
            $.ajax({
                url: '/account/new',
                type: 'POST',
                data: formData,
                success: function(response){
                    if(response.status == 'success')
                    {
                        toastr.success('Thêm tài khoản thành công');
                         $('#menuModal').modal('hide');
                        setTimeout(()=>{
                            if(confirm("Trang web cần tải lại để hiển thị bản ghi đã thêm") == true)
                            location.reload();
                        },1000)
                    }
                    else 
                        toastr['error']('Số điện thoại đã tồn tại','Thêm tài khoản không thành công');
                        
                },
                error: function(xhr, status, error){
                    console.error(error);
                }
            });
        })
        $('#submit-new_account').on('click', function(){
            if($('input[name="full_name"]').val().trim() === "" || 
            $('input[name="age"]').val().trim() === "" || 
            $('#gender-select').val().trim() === "" || 
            $('input[name="email"]').val().trim() === "" ||
            $('input[name="phone_number"]').val().trim() === "" )
            {
                alert("Vui lòng điền đầy đủ thông tin");
                    return;
            }
            else 
                $('#add_account-form').submit();
        })
        
        function displayMenu(res)
        {
            $('table tbody').empty();
            res.forEach(item=>{
                $('table tbody').append(`<tr>
                    <td>${item.full_name}</td>
                    <td>
                       ${item.gender}
                    </td>
                    <td>
                      ${item.age}
                    </td>
                    <td>${item.email}</td>
                    <td>${item.phone_number}</td>
                     <td>
                        ${item.status == 1
                        ? 
                            ' <span class="badge badge-success rounded-pill d-inline">Đã nghỉ </span>'
                        :
                            '<span class="badge badge-light rounded-pill d-inline">Đang làm việc</span>'
                        }
                    </td>
                    <td style="min-width:200px">
                        ${item.status == 1
                        ? 
                            `  <button type="button" class="btn btn-danger btn-sm " id="disactive-btn"
                                data-mdb-target="#exampleModal" data-mdb-ripple-init data-mdb-modal-init data-mdb-whatever='${JSON.stringify(item)}' data-mdb-status="0">
                                <i class="lni lni-lock-alt"></i>
                                Đã nghỉ
                                </button>`
                        : 
                            ` <button type="button" class="btn btn-primary btn-sm " id="active-btn" 
                                data-mdb-target="#exampleModal" data-mdb-ripple-init data-mdb-modal-init data-mdb-whatever='${JSON.stringify(item)}' data-mdb-status="1">
                                <i class="lni lni-lock-alt"></i>
                                Đang làm việc
                                </button>`
                        }
                    </td>
                </tr>`)
            })
           
        }
        $('#form-submit').submit(function(e){
            e.preventDefault();
             var searchValue = $('input[name="search"]').val();
            $.ajax({
                url: '/employee/filter',
                type: 'GET',
                data:{q:searchValue}, 
                success: function(response){
                    console.log(response)
                    displayMenu(response);
                },
                error: function(xhr, status, error){
                    console.error(error);
                }
            });
        })
        $('#food .nav-link').click(function(e){
            e.preventDefault();
            $('#form-submit #id-input').val($(this).attr('id'))
            $('#form-submit #page-input').val(1)
            $('#form-submit').submit();
        })
        $('#search-btn').on('click',function(){
            $('#form-submit').submit();
        } )
        $('input[name="search"]').on('input', function(){
            if(!$(this).val())
                $('#form-submit').submit();
        })
       const updateStatusMenuModal = document.getElementById('exampleModal');
        updateStatusMenuModal.addEventListener('show.mdb.modal', function(e){
        const button = e.relatedTarget;
        const data = JSON.parse(button.getAttribute('data-mdb-whatever'));
        const dataStatus = button.getAttribute('data-mdb-status')
        $('#exampleModal .modal-body p').text(`Bạn có chắc chắn muốn thay đổi trạng thái cho nhân viên ${data.full_name} ? `);
        $('#update-status-food-form').submit(function(e){
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: '/employee/update-status',
                type: 'POST',       
                data: formData, 
                success: function(response){
                    if(response.status == 'success')
                    {
                        toastr.success('Cập nhập trạng thái nhân viên thành công');
                        $('#exampleModal').modal('hide')
                        setTimeout(()=>{
                            if(confirm("Trang web cần tải lại để hiển thị bản ghi đã cập nhập") == true)
                            location.reload();
                        },1000)
                    }
                    else 
                        toastr['error']('Cập nhập trạng thái nhân viên không thành công');
                        
                },
                error: function(xhr, status, error){
                    console.error(error);
                }
            });
        })
        $('#submit-status').click(function(){
            $('input[name="user_id"]').val(data.id)
            $('input[name="status"]').val(dataStatus)
            $('#update-status-food-form').submit();
        })

    })
        
        
    
    
    
    })
    
</script>