{{!-- <script>
    var queryParameters = new URLSearchParams(window.location.search);
    console.log(queryParameters.get(status));
</script> --}}
<main class="content">
  <div class="container-fluid">
    <div class="mb-3">
     
        <div class="row">
            <div class="col-2 main-left">
                <div class="row rounded-lg p-2 mb-4" style="background-color: #fff;">
                    <div class="left-item_header d-flex flex-row justify-content-between align-items-center mb-2 p-0" style="width:100%;">
                        <p class="font-weight-bold">Khu vực</p>
                        <button  type="button" class="btn btn-sm btn-primary btn-floating" data-mdb-ripple-init 
                        data-mdb-modal-init data-mdb-target="#newAreaModal">
                            <i class="fa-solid fa-plus "></i>
                        </button>
                    </div>
                    <select class="custom-select mb-3" id="area-select">
                        <option selected value="all">--Tất cả--</option>
                        {{#each listArea}}
                            <option value="{{this.area_id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                 <div class="row rounded-lg p-2 mb-4"  style="background-color: #fff;">
                    <div class="left-item_header d-flex flex-row justify-content-between align-items-center mb-2 p-0" style="width:100%;">
                        <p class="font-weight-bold">Tìm kiếm</p>
                    </div>
                    <div class="form-outline" data-mdb-input-init>
                        <input type="text" id="form12" class="form-control" name="search-input"/>
                        <label class="form-label" for="form12">Theo tên phòng bàn</label>
                    </div>
                </div>
                 <div class="row rounded-lg mb-4 p-2"  style="background-color: #fff;">
                    <div class="left-item_header d-flex flex-row justify-content-between align-items-center p-0" style="width:100%;">
                        <p class="font-weight-bold">Trạng thái</p>
                    </div>

                    <div class="form-check_group">

                         <div class="form-check m-2">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="all" `${queryParameters.get('status') == 'all' ? 'checked' : '' }`
                            checked>
                            <label class="form-check-label" for="exampleRadios3">
                                Tất cả
                            </label>
                        </div>
                        <div class="form-check m-2">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1">
                            <label class="form-check-label" for="exampleRadios1">
                                Đang hoạt động
                            </label>
                        </div>
                        
                        <div class="form-check m-2">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2">
                            <label class="form-check-label" for="exampleRadios2">
                                Ngừng hoạt động
                            </label>
                        </div>


                    </div>

                </div>
            </div>
            <div class="col-10  main-right">
                <div class="main-right_header d-flex flex-row justify-content-between align-items-center">
                    <h5 class="fw-bold mb-3 mt-3">Phòng/Bàn</h5>
                    <div class="button-group">
                        <button type="button" class="btn btn-success btn-sm " data-mdb-target="#exampleModal" 
                         data-mdb-ripple-init data-mdb-modal-init >
                            <i class="lni lni-plus"></i>
                            Thêm phòng/bàn
                        </button>


                        <button type="button" class="btn btn-success btn-sm">
                            <i class="fa-solid fa-file-export"></i>
                            export
                        </button>

                    </div>
                    
                </div>

                <div class="main-right_content mt-2">
                    <table class="table table-light" border="1">
                        <thead class="thead-dark" >
                            <tr>
                                <th scope="col">Tên phòng bàn</th>
                                <th scope="col">Khu vực</th>
                                <th scope="col">Số ghế</th>
                                <th scope="col">Ghi chú</th>
                                <th scope="col" >Trạng thái</th>
                                <th scope="col" style="width:200px">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each listRoomTable}}
                                <tr id="row-id-{{this.id}}">
                                <td scope="row">{{this.name}}</td>
                                <td>Tầng {{this.area}}</td>
                                <td>{{this.chair_quantity}}</td>
                                <td>{{this.note}}</td>
                                <td>
                                    {{#if (isRoomTableActive this.status)}}
                                        <span class="badge badge-success">Đang hoạt động</span>
                                        {{else}}
                                        <span class="badge badge-light">Ngừng hoạt động</span>
                                    {{/if}}
                                    
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm mb-2" data-mdb-ripple-init data-mdb-modal-init 
                                     data-mdb-target="#exampleModal3" data-mdb-whatever='{{jsonFormatter this}}' modal-type="update">
                                        <i class="lni lni-check-box"></i>
                                        Cập nhật
                                    </button>
                                    
                                    <br/>
                                    <button type="button" class="btn btn-danger btn-sm mb-2">
                                        <i class="lni lni-lock-alt"></i>
                                        Ngừng hoạt động
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm mb-2">
                                        <i class="lni lni-trash-can"></i>
                                        Xóa
                                    </button>
                                    <br/ >
                                    <button type="button" class="btn btn-success btn-sm mb-2" data-mdb-ripple-init data-mdb-modal-init 
                                     data-mdb-target="#exampleModal2" data-mdb-whatever='{{this.id}}' >
                                       <i class="fa-solid fa-clock-rotate-left"></i>
                                        Lịch sử giao dịch
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                 <div class="row d-flex justify-content-center">
                    {{#if (isMultiplePage pageQuantity)}}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination d-flex justify-content-center">
                            {{!-- {{pageQuantityRendering}} --}}
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{#each (pageQuantityRendering pageQuantity)}}
                                <li class="page-item"><a class="page-link" href="" aria-label="{{this}}">{{this}}</a></li>
                            {{/each}}
                            <li class="page-item">
                            <a class="page-link" href="#" aria-label="next" >
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        </ul>
                    </nav>
                {{/if}}
                </div>

            </div>
        </div>

       

    </div>
  </div>
</main>

{{!-- new room table modal --}}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm phòng/bàn</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/room-table/new" method="POST" id="newRoomTable">
            <div class="form-outline mb-3" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" name="name"/>
                <label class="form-label" for="form12">Tên phòng bàn</label>
            </div>
            <div class="input-group mb-3">
                <select class="custom-select" id="area-select" name="area">
                    <option selected>Lựa chọn khu vực</option>
                    {{#each listArea}}
                        <option value="{{this.area_id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    data-mdb-ripple-init data-mdb-ripple-color="dark" data-mdb-modal-init  
                    data-mdb-target="#newAreaModal">
                        <i class="lni lni-plus"></i>
                    </button>
                
                </div>
            </div>
            <div class="form-outline mb-3" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" name="chair_quantity"/>
                <label class="form-label" for="form12">Số ghế</label>
            </div>

            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" name="note"/>
                <label class="form-label" for="form12">Ghi chú <i class="lni lni-pencil"></i></label>
            </div>
        </form>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">
            <i class="fa-solid fa-ban"></i>
            Bỏ qua
        </button>
        <button type="button" class="btn btn-success" data-mdb-ripple-init id="saveNewRoomTable">
            <i class="fa-regular fa-floppy-disk"></i>
            Lưu
        </button>
      </div>
    </div>
  </div>
</div>
{{!-- update room table modal --}}
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm phòng/bàn</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/room-table/new" method="POST" id="updateRoomTable">
            <input type="text" class="form-control" name="id"  hidden/>
            <div class="form-outline mb-3" data-mdb-input-init>
                <input type="text"  class="form-control" name="name"/>
                <label class="form-label" for="form12">Tên phòng bàn</label>
            </div>
            <div class="input-group mb-3">
                <select class="custom-select" id="area-select" name="area">
                    <option selected>Lựa chọn khu vực</option>
                    {{#each listArea}}
                        <option value="{{this.area_id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    data-mdb-ripple-init data-mdb-ripple-color="dark" data-mdb-modal-init  
                    data-mdb-target="#newAreaModal">
                        <i class="lni lni-plus"></i>
                    </button>
                
                </div>
            </div>
            <div class="form-outline mb-3" data-mdb-input-init>
                <input type="text"  class="form-control" name="chair_quantity"/>
                <label class="form-label" for="form12">Số ghế</label>
            </div>

            <div class="form-outline mb-3" data-mdb-input-init>
                <input type="text" class="form-control" name="note"/>
                <label class="form-label" for="form12">Ghi chú <i class="lni lni-pencil"></i></label>
            </div>
            <div class="form-outline">
                <select class="custom-select" id="status-select" name="status" >
                    <option selected>Trạng thái</option>
                    <option value="1">Đang hoạt động</option>
                    <option value="0">Ngừng hoạt động</option>
                </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">
            <i class="fa-solid fa-ban"></i>
            Bỏ qua
        </button>
        <button type="button" class="btn btn-success" data-mdb-ripple-init id="saveUpdateRoomTable">
            <i class="fa-regular fa-floppy-disk"></i>
            Lưu
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lịch sử giao dịch</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Mã hóa đơn</th>
                <th scope="col">Thời gian</th>
                <th scope="col">Người tạo</th>
                <th scope="col">Khách hàng</th>
                <th scope="col">Tổng cộng</th>

                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">
            <i class="fa-solid fa-xmark"></i>
            Đóng
        </button>
        
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="newAreaModal" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLabel" style="font-size: 18px !important;" >Thêm khu vực</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="room-table/area/new" method="POST" id="new-area_form">
            <div class="form-outline mb-3" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" name="area_name"/>
                <label class="form-label" for="form12">Tên khu vực</label>
            </div>
            <div class="form-outline mb-3" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" name="area_note"/>
                <label class="form-label" for="form12">Ghi chú <i class="lni lni-pencil"></i></label>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">
            <i class="fa-solid fa-ban"></i>
            Bỏ qua
        </button>
        <button type="button" class="btn btn-success" data-mdb-ripple-init id="save-new_area">
            <i class="fa-regular fa-floppy-disk"></i>
            Lưu
        </button>
      </div>
    </div>
  </div>
</div>
<form action="" id="form-submit">
    <input name="area" hidden/>
    <input type="text" name="status" hidden>
</form>

<form action="" id="history-submit">
    <input type="text" name="tableId" hidden>
</form>

<script src="/jquery/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    
   
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            }
        function addRowTable(response)
        {
             $('table tbody').empty();
            response.forEach(item=>{
                $('table tbody').append(`<tr id="row-id-${item.id}">
                    <td>${item.name}</td>   
                    <td>${item.area}</td>
                    <td>${item.chair_quantity}</td>
                    <td>${item.note}</td>
                    <td><span class="badge badge-${item.status ==1 ? 'success' :'light'}">${item.status == 1 ? 'Đang hoạt động' : 'Ngừng hoạt động'}</span></td>
                    <td>
                         <button type="button" class="btn btn-success btn-sm mb-2" data-mdb-ripple-init data-mdb-modal-init 
                            data-mdb-target="#exampleModal3" data-mdb-whatever='${JSON.stringify(item)}' modal-type="update">
                            <i class="lni lni-check-box"></i>
                            Cập nhật
                        </button>
                        <br/>
                        <button type="button" class="btn btn-danger btn-sm mb-2">
                            <i class="lni lni-lock-alt"></i>
                            Ngừng hoạt động
                        </button>
                        <button type="button" class="btn btn-danger btn-sm ">
                            <i class="lni lni-trash-can"></i>
                            Xóa
                        </button>
                        <br/ >
                            <button type="button" class="btn btn-info btn-sm mt-2" data-mdb-ripple-init 
                            data-mdb-modal-init data-mdb-target="#exampleModal2">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            Lịch sử giao dịch
                        </button>
                    </td>
                </tr>`)
            })
        }
        $('#save-new_area').click(function(e){
            $('#new-area_form').submit(function(e){
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                url: '/room-table/area/new',
                type: 'POST',
                data: formData,
                success: function(response){
                    $('#area-select').append(`
                    <option value=${response[0].id}>
                        ${response[0].name}
                    </option>`)
                    $('#newAreaModal').modal('hide');
                    toastr.success('Thêm khu vực thành công');
                },
                error: function(xhr, status, error){
                    console.error(error);
                    toastr.error('Lỗi khi thêm khu vực');
                }
            });
            })
            $('#new-area_form').submit();
        })
        $('#form-submit').submit(function(e){
            e.preventDefault();
            var queryParams = new URLSearchParams(window.location.search);
            var searchValue = $('input[name="search-input"]').val();
            console.log(searchValue);
            $.ajax({
                url: '/room-table/filter',
                type: 'GET',
                data: { status:queryParams.get('status'), area:queryParams.get('area'), q:searchValue },
                success: function(response){
                    console.log(response);
                    addRowTable(response)
                },
                error: function(xhr, status, error){
                    console.error(error);
                }
            });
        });
        //area select 
        let areaSelect;
        $('#area-select').change(function(e){
            e.preventDefault();
            clearTimeout(areaSelect);
            var queryParams = new URLSearchParams(window.location.search);
            var areaValue = $(this).val();
            var path = window.location.href.split('?')[0];
            queryParams.set('area',areaValue );
            var newUrl = `${path}?${queryParams}`;
            window.history.pushState({}, '', newUrl);
            areaSelect  = setTimeout(()=>$('#form-submit').submit(), 500)
        })
        //search input 
        
        let typingTimer;
        $('input[name="search-input"]').on('input', function(e){
                clearTimeout(typingTimer);
                var queryParams = new URLSearchParams(window.location.search);
                var path = window.location.href.split('?')[0];
                var searchValue = $('input[name="search-input"]').val();
                queryParams.set('q',searchValue );
                var newUrl = `${path}?${queryParams}`;
                window.history.pushState({}, '', newUrl);
                typingTimer  = setTimeout(()=>$('#form-submit').submit(), 500);

        })
        //status change
        let statusRadio;
        $('.form-check-input').change(function(e){
             clearTimeout(statusRadio);
            var queryParams = new URLSearchParams(window.location.search);
            var queryParams = new URLSearchParams(window.location.search);
            var path = window.location.href.split('?')[0];
            queryParams.set('status',$(this).val());
            var newUrl = `${path}?${queryParams}`;
            window.history.pushState({}, '', newUrl);
            statusRadio = setTimeout(()=>$('#form-submit').submit(), 500)

        })
        //save new room table 
        $('#newRoomTable').submit(function(e){
                e.preventDefault();
                var formData = $(this).serialize();
                    $.ajax({
                url: '/room-table/new',
                type: 'POST',
                data: formData,
                success: function(response){
                    console.log(response);
                    if(response.status == 'success')
                    {
                        addRowTable(response.data)
                        toastr.success('Thêm phòng bàn thành công');
                         $('#exampleModal').modal('hide')
                        setTimeout(()=>{
                            if(confirm("Trang web cần tải lại để hiển thị bản ghi đã cập nhập") == true)
                            location.reload();
                        },1000)
                    }
                    else 
                    {
                        toastr['error']('Tên phòng bàn đã tồn tại','Thêm phòng bàn không thành công');
                        
                    }
                },
                error: function(xhr, status, error){
                    console.error(error);
                    toastr.error('Thêm phòng bàn thất bại')
                }
            });
            })
        $('#saveNewRoomTable').on('click', function(e){
            $('#newRoomTable').submit();
        })

         
    })
    //update record 
    const updateRoomTableModal = document.getElementById('exampleModal3');
    updateRoomTableModal.addEventListener('show.mdb.modal', (e) => {
        const button = e.relatedTarget;
        if(button.getAttribute('modal-type') == 'update')
        {
                const data = JSON.parse(button.getAttribute('data-mdb-whatever'));
                console.log(data)
                const modalTitle = updateRoomTableModal.querySelector('.modal-title');
                $('#exampleModal3 input[name="id"]').val(data.id);
                $('#exampleModal3 input[name="name"]').val(data.name);
                $('#exampleModal3 #area-select option').each((index, item)=>{
                    if(item.value == data.area)
                        item.setAttribute('selected', true)
                })
                $('#exampleModal3 #status-select option').each((index, item)=>{
                    if(item.value == data.status)
                        item.setAttribute('selected', true)
                })
                $('#exampleModal3 input[name="chair_quantity"]').val(data.chair_quantity);
                $('#exampleModal3 input[name="note"]').val(data.note)
                modalTitle.textContent = `Cập nhập phòng/bàn`;
        }
    })
   
    $('#saveUpdateRoomTable').on('click', function(){
        $('#updateRoomTable').submit(function(e){
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: '/room-table/update',
                type: 'POST',
                data: formData,
                success: function(response){
                    if(response.status == 'success')
                    {
                        toastr.success('Cập nhập phòng bàn thành công');
                        $('#exampleModal3').modal('hide')
                        setTimeout(()=>{
                            if(confirm("Trang web cần tải lại để hiển thị bản ghi đã cập nhập") == true)
                            location.reload();
                        },1000)
                    }
                    else 
                        toastr.error('Tên phòng bàn đã tồn tại','Cập nhập phòng bàn không thành công');

                },
                error: function(xhr, status, error){
                    toastr.error('Cập nhập phòng bàn thất bại')

                }
            });
        })
        $('#updateRoomTable').submit();
    })
    //show history table 

    $('#history-submit').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/room-table/history',
                type: 'GET',
                data:{tableId: $('input[name="tableId"]').val()}, 
                success: function(response){
                    {{!-- const result = response.data.map(item=>{...item, date:JSON.stringify(date)}) --}}
                    $('#exampleModal2 table tbody').append(` <tr>
                        <th scope="row">${response.data[0].bill_id}</th>
                        <td>${Intl.DateTimeFormat("vi-VN").format(new Date(response.data[0].date))}</td>
                        <td>${response.data[0].created_by}</td>
                        <td>${response.data[0].full_name}</td>
                        <td>${response.data[0].total}</td>
                    </tr>`)
                },
                error: function(xhr, status, error){
                    console.error(error);
                }
            });
        });
    const showTableHistoryModal = document.getElementById('exampleModal2');
    showTableHistoryModal.addEventListener('show.mdb.modal', (e) => {
        const button = e.relatedTarget;
        const tableId = JSON.parse(button.getAttribute('data-mdb-whatever'));
        $('input[name="tableId"]').val(tableId);
        $('#history-submit').submit();
        console.log(tableId)
                
    })
</script>
{{!-- <script>
    $('#newAreaModal').modal('show');
</script> --}}




